// 引入响应式
@import "maxer.media";
// 引入基础库
@import "maxer.base";
// 引入变量池
@import "maxer.variables";

// 清除浏览器自带基础样式
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
}
a{
  color: #111;
  text-decoration: none;
}

/*--------------- 字体设置开始 ----------------*/
body{
  font-family: $maxer-site-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*--------------- 字体设置结束 ----------------*/

/*-----------响应式开始-----------------*/

@media (max-width: map-get($maxer-medias,xs)){
  @include xs
}
@media (min-width: map-get($maxer-medias,sm)){
  @include sm
}
@media (min-width: map-get($maxer-medias,md)){
  @include md
}
@media (min-width: map-get($maxer-medias,lg)) {
  @include lg
}
/*-----------响应式结束-----------------*/

// iconfont 基本样式
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}